<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <group groupName="layoutService">
                <pipelines>
                    <getLayoutServiceContext>
                        <processor type="HybridPlaceholder.JavaScriptServices.LayoutService.HybridPlaceholderContextExtension, HybridPlaceholder" resolve="true">
                            <AllowedConfigurations hint="list">
                                <!-- Unless you change the Layout Service config used by your JSS app, this should always be present. -->
                                <jss>jss</jss>
                            </AllowedConfigurations>
                        </processor>
                    </getLayoutServiceContext>
                    <mvc.renderPlaceholder>
                        <processor type="HybridPlaceholder.Pipelines.PerformHybridRendering, HybridPlaceholder"
                                   resolve="true"
                                   patch:instead="processor[@type='Sitecore.Mvc.Pipelines.Response.RenderPlaceholder.PerformRendering, Sitecore.Mvc']"/>
                    </mvc.renderPlaceholder>
                </pipelines>
            </group>
        </pipelines>
    </sitecore>
</configuration>
